
.Teacher-background {
    background-color: #092357;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .teacher-Avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .add_class{
    right: 0px;
    width: 300px;
    position: "absolute";
    border: 2px;
    padding: 10px;
  }

  .toggle{
    position: absolute;
    right:50px;
    top:20px;
    width:100px;
  }

  .teacher{
    background-color: #A3C4BC; 
    height: 0p;
    width:0px;
    position: relative;
  }


  .add{
    border: black;
  }

  .tags-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  