@import "~antd/dist/antd.css";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.tProf {
  border-radius: 50%;
  height: 25%;
  margin-top: 50px;
}
.lAl {
  align-items: left;
  text-align: left;
}
.iconmarg {
  margin-right: 5px;
  margin-left: 10px;
}
.CenterA {
  align-items: center;
  justify-content: center;
}
.TabContent {
  color: White;
  text-align: center;
}
.intro {
  background-color: white;
  height: 100vh;
  text-align: center;
  padding-top: 1250px;
  background-image: url("./components/teacher.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: black;
  background: white;
}

.homemenu {
  background-color: black;
  color: black;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  top: 10;
}

.home1 {
  background-color: #d9efe8;
  height: 100vh;
  text-align: center;
  color: yellowgreen;
}
.home2 {
  background-color: #d9efe8;
  height: 100vh;
  text-align: center;
}
.home3 {
  background-color: #282c34;
  height: 100vh;
  text-align: center;
  color: yellowgreen;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login{
  position:relative;
  width:100%;
  height:100%;
}

.avatar{
  border-radius: 50%;
}

.login-nav{
  float : right;
}
